#            *Articulate the Concept of Quality in software.*

Software quality measures how well software is designed, often described as fitness for purpose, and is a highly collaborative activity

where teams of developers collaborate, often from different countries and various cultures around the globe.As a result a Quality plan

needs to be in place, among the reasons for this are to ensure consistant quality of the software being produced, and therefore cementing

customer confidence in the product and the company.It also reduces time and errors on projects, thus saving the company time and money

allowing them to keep project costs down and making them more competitive.The introduction of quality processes can be a shock to the

system, an organisation can lessen this shock by: 
 
*  Advertising acceptance from major stakeholders

*  Communicate the reason for quality and the benefits

*  Train team members you want the team doing the right thing the right way

###   Listening to the customer

Listening to the customer is important in quality planning, known as voice of customer (VOC).Simply asking is not enough as often they 

not sure what they need or can not articulate it properly.The customer typically has three desires:

1. ** THEY WANT IT GOOD**

2. ** THEY WANT IT FAST**

3. ** THEY WANT IT CHEAP**

In the real world Customers seldom get all these, so having quality in software design allows you to give as much of these as possible

depending on their requirements.The old managment saying >_ You can't manage what you can't measure_,rings especially true in quality

control.You can measure where you are and where you are going by handing out **Questionaires**, conducting **interviews**, holding 
** focus guoups**, and **reviewing** complaints.

  With software today playing such an important part of `everyday` life, quality and a good quality plan is of utmost importance, to
  
  eliminate flaws that might crop up.Imagine designing software for an aeroplane or Hospital or worse still a nuclear reacgor, and not 
  
  having a quality plan in effect, who knows what would happen.`Therefore``quality is required to:
  
  * **Eliminate** problems that mat occur
  
  * **Provide** consistency in design
  
  * **Increase** customer confidence
  
  * **Reinforce** company reputation
  
  * **Reduce** time delays and costs
  
  * **Streamline** the creation process.
  
  * 
  
  provide consistancy in design, increase
